.navigation {
    list-style-type: none;
    padding-inline-start: 0;

    &__item {
        cursor: pointer;
    
        padding: 14px 56px;
    
        &:hover {
            background-color: #eeeeee;
        }
    }
}
