.card {
    width: 60rem;
    margin: 1rem auto;
    cursor: pointer;

    // &__header {
    //     display: flex;
    //     justify-content: center;
    // }

    // &__content {
    //     margin-top: 1rem;
    //     display: flex;
    //     flex-direction: column;
    // }

    // &__actions {
    //     display: flex;
    //     justify-content: space-around;

    //     & button {
    //         width: 12rem;
    //     }
    // }
}